/* @import '~antd/dist/antd.css'; */

#root {
  max-width : 1280px;
  margin    : 0 auto;
  padding   : 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pokemonList {
  display                 : flex;
  flex-wrap               : wrap;
  /* display              : grid;
  grid-template-columns   : repeat(4, 1fr); */
  justify-content         : center;
  gap                     : 2rem;
  margin-block-start      : 3rem;
}

.logo-pokedux {
  margin-block-end: 2rem;
}

.pokemonList .ant-card-cover {
  padding: 1rem;
}

.pokemonList img {
  height: 8rem;
}

.ant-spin {
  margin-block-start: 3rem;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-spin-lg .ant-spin-dot {
  font-size: 68px;
}